@font-face {
    font-family: MyFont;
    src: url(/fonts/futura-medium/futura-medium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #191b1c;
    font-family: MyFont;
    letter-spacing: 1.5px;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.alert-box {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px; /* initial position outside the viewport */
  background-color: #262a2b;
  border: 3px solid black;
  color: white;
  opacity: 0;
  padding: 15px 20px;
}

.alert-box.show {
  right: 20px; /* target position */  
  animation: alertFade 5s ease;
}

@keyframes alertFade {
0% {
  opacity: 1;
  transform: translateX(100%);
}
20%, 30%, 50%, 60%, 70%, 80% {
  opacity: 1;
  transform: translateX(0);
}
100% {
  opacity: 1;
  display: none; /* hide after animation */
  transform: translateX(120%);
}
}


.music-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 20px;
  border-radius: 50%;
  background-color: #262a2b;
  border: 3px solid black;
  font-size: 15px;
  transition: transform 0.3s;
}

.tooltip {
  position: absolute;
  bottom: 18px;
  right: 85px;
  display: none;
  background-color: #262a2b;
  border: 3px solid black;
  color: #fff;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 15px;
  animation: fadeInTooltip 0.5s ease-in-out forwards;
}


.music-icon:hover {
  cursor: pointer;
}

.music:hover .tooltip {
  display: block;
}


#bg-video {
  opacity: 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fadeInBackground 3s;
}

#sidebar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #262a2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid black;
  background-image: url('/photos/side-bg.PNG');
  animation: slideRight 1s ease-in-out forwards;
}

#sidebar ul {
    list-style: none;
    margin-top: 20px;
}

#sidebar ul li {
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3.5px;
}

.content {
    margin-left: 250px;
    padding: 70px;
    color: white;
}

.home {
  display: grid;
  place-items: center;
  height: 300px;
}

.skillColumn:hover i {
  transform: translateY(20%);
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

#music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

#music-controls button {
  border: 3px solid black;
}

  .music-button {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .projCont {
    display: flex;
  }
  
  .box {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  /* .box img {
    width: 100%;
    max-width: 200px;
    height: auto;
  } */

  .projImg {
    width: 100%;
    height: 300px;
    border: 3px solid black;
  }
  
  .description {
    margin-top: 10px;
  }

  .name {
    font-size: 55px;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .skills {
    list-style-type: none;
    padding: 15px;
  }

  .container {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 1s ease-in-out forwards;
  }  
  
  .image {
    width: 200px; /* Adjust the width as needed */
    border: 3px solid black;
    background-color: #262a2b;
  }
  
  .text {
    margin-left: 20px; /* Adjust the margin as needed */
  }

  .input {
    width: 100%;
    padding: 10px;
    background-color: #191b1c;
    color: white;
    border: 3px solid black;
  }

  .grid-container {
    display: grid;

    grid-template-columns: 60% 40%; /* Left column takes 70% and right column takes 30% */
  }

  .column1 {
    margin: 70px;
  }

  .column2 {
    /* Additional styles for the right column */
    background-image: url('/photos/map.png');
    background-size: cover;
    background-position: center;
    opacity: 70%;
    animation: slideLeft 1s ease-in-out forwards;
    border-left: 3px solid black;
  }

  .input-wrapper button {
    width: 100%;
    padding: 10px;
    background-color: #191b1c;
    color: white;
    border: 3px solid black;
  }

  .input-wrapper {
    display: flex;
  }
  
  .input-wrapper button {
    font-size: 1em;
  }

  #loading-phase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #logs {
    margin-top: 10px;
    font-family: monospace;
    border: 3px solid black;
    padding: 15px;
    width: 40%;
    height: 400px; /* Set the maximum height for the log box */
    overflow-y: scroll; /* Enable vertical scrolling when needed */
  }

  #try-again-button {
    border: 3px solid black;
    background-color: transparent;
    color: white;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3.5px;
  }

  .loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: #263238; /*use your base color*/
  }
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  
  
  @keyframes fadeIn {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 100%;
    }
  }

  @keyframes fadeInBackground {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 10%;
    }
  }

  @keyframes fadeInTooltip {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 100%;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  .skillBox {
    display: flex;
  }

  /* Style the individual columns */
  .skillColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /* Style the icons */
  .skillColumn i {
    font-size: 25px;
  }
  